/* global styles */
body {
  font-family: sans-serif;
}
div {
  border: 0;
  padding: 0.5em;
}
img {
  border: 0;
}
hr {
  color: #8b8b8b;
}
h4 {
  text-align: center;
  font-weight: bold;
  padding: 0.25em 0.5em;
  margin: 0 0 1px;
}
.quote {
  font-style: italic;
  text-align: center;
}
.strong {
  font-weight: bold;
}
.warning {
  font-weight: bold;
  color: #ff0000;
}
a {
  display: block;
  border-width: 0;
  text-decoration: none;
  color: #0060b5;
  background: #ffffff;
}
a:hover {
  color: #ffffff;
  background: #0060b5;
}
/* header styles */
div#header {
  position: absolute;
  font-size: small;
  top: 0;
  left: 0;
  height: 100px;
  width: 95%;
  margin: 10px;
}
div#header p {
  text-align: center;
}
div#header div#search-form {
  float: left;
  margin: 0;
  padding: 0;
}
div#header div#search-form input#search-text {
  background-color: #ffffff;
  color: #0060b5;
  font-size: small;
  border: 1px solid;
  vertical-align: middle;
}
div#header div#search-form input#submit-button {
  background-color: #ffffff;
  color: #0060b5;
  font-size: small;
  font-weight: bold;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius:6px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid;
  vertical-align: middle;
}
div#header div#search-form input#submit-button:hover {
  border: 1px solid;
  background-color: #0060b5;
  color: #ffffff;
  box-shadow: 0px 0px 1px #777;
}
div#header div#ml-search {
  float: right;
  margin: 0;
  padding: 0;
}
div#header div#logo {
  margin: 0;
  padding: 0;
  clear: both;
}
/* sidebar styles */
div#sidebar {
  position: fixed;
  top: 125px;
  left: 0;
  width: 15%;
  margin: 10px;
  font-size: small;
}
div#sidebar:hover {
  background-position: 0px 0px;
}
div#sidebar a {
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius:6px;
}
/* menu styles */
/* main panel styles */
div#main {
  position: absolute;
  top: 150px;
  left: 16%;
  width: 62%;
  margin: 10px;
}
div#main a {
  display: inline;
  padding: 0;
}
div#main a:hover {
  color: #0060b5;
  background: #ffffff;
  text-decoration: underline;
}
/* content styles */
div#content div {
  padding: 0;
}
div#content code, pre {
  font: 100% monospace;
}
div#content table {
  width: 100%;
}
div#content table#changelog {
  font-size: x-small;
}
/* footer styles */
div#footer p {
  text-align: center;
  font-size: small;
}
div#footer table {
  margin-left: auto;
  margin-right: auto;
}
/* doc panel styles */
div#doc {
  float: right;
  top: 125px;
  left: 80%;
  width: 15%;
  margin: 125px 10px 10px 10px;
  font-size: small;
}
div#doc:hover {
  background-position: 0px 0px;
}
div#doc a {
  padding: 0 5px 0 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius:6px;
}
div#doc p.go-top, div#doc p.go-top a, div#doc p.go-top a:hover {
  opacity: 0.75;
  filter:alpha(opacity=75); /* For IE8 and earlier */
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  text-decoration: none;
  font-size: small;
  padding: 0;
  display: block;
}
div#doc p.go-top a:hover {
  opacity: 1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}

